<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.AddressBookMapper">

    <select id="getIsDefaultAddressBook" resultType="com.sky.entity.AddressBook">
        select *
        from address_book
        where user_id=#{id} and is_default=1;
    </select>
</mapper>